<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        

<hibernate-configuration>
   <session-factory>
        <!-- JDBC -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">baohieu1984</property>
        
        <property name="hibernate.connection.url">jdbc:postgresql://database-1.ckkj5dk7yaq3.us-east-2.rds.amazonaws.com/postgres</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        
        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">easy_shop</property>
        
        <!-- Hibernate console output -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- DDL -->
        <!--  Update    -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
      
        <!-- delete existing table and create again 
         <property name="hibernate.hbm2ddl.auto">create </property>
         
         -->
       
        <mapping class="com.easyshop.models.EsUser"/>
        <mapping class="com.easyshop.models.EsUserContact"/>
        
        <mapping class="com.easyshop.models.EsProduct"/>
        <mapping class="com.easyshop.models.EsColor"/>
        <mapping class="com.easyshop.models.EsSize"/>
        <mapping class="com.easyshop.models.EsCategory"/>
        
        <mapping class="com.easyshop.models.EsCart"/>
        
        
   
   </session-factory>

</hibernate-configuration>        