<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        

<hibernate-configuration>
   <session-factory>
        <!-- JDBC -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://javafs201130.cxs16voijxgr.us-east-1.rds.amazonaws.com:5432/postgres</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        
        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
       
        
        <!-- Hibernate console output -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- DDL -->
        <!--  Update    -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
      
        <!-- delete existing table and create again 
         <property name="hibernate.hbm2ddl.auto">create </property>
         
         -->
        <!--
        <mapping class="com.revature.model.Avenger"/>
        <mapping class="com.revature.model.Home"/>
        <mapping class="com.revature.model.Team"/>
        
        -->
   
   </session-factory>

</hibernate-configuration>        